	
		
	<div class="contaier">
		
			<%= image_tag "appicon.png", :class => "appicon" %>
			<div class="style-text">
				<span><h3 style="font-size:2vw;">
					<b> We are changing everything you</br>
					know about transportation! </b></br>
					<a style="font-size:2vw;">Through our app you can do</br> 
					anything from booking your</br> 
					daily commute, to intercity travel,</br> 
					and everything in between! </a>
				</h3></span></br>
				<a style="font-size:2vw;"><b>What are you waiting for?</b></a>
			</div>
		
	</div>

