	
	
	<div class="jumbotron">
		<div class="stitched"></div>
			<%= image_tag "logo.png", :class => "seater" %>
			<h4 style="font-size:2vw;"> Transportation has never been easier. </h4>
	</div>
	<div class="contaier">
			
			<%= image_tag "appicon.png", :class => "appicon" %>
			
			<%= image_tag "phone.png", :class => "phone" %>
			<div class="style-text">
				<span><h3 style="font-size:2vw;">
					<b> We are changing everything you</br>
					know about transportation! </b></br>
					<a style="font-size:2vw;">Through our app you can do</br> 
					anything from booking your</br> 
					daily commute, to intercity travel,</br> 
					and everything in between! </a>
				</h3></span></br>
				<a style="font-size:2vw;"><b>What are you waiting for?</b></a>
			</div>
	</div>

