# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 54bd53cce86f1fab7adc49bb7cbf89be0ab9743bcbdbfbfac37ce9a63f89e67d0b194c8fb36e58933b8655bcc7cebe70043aa390e8415a2d663f476652499bae

test:
  secret_key_base: 9e116dbd54583bbbaf86d7b12757934d935091c1158fa12c5894c8d6e309c2d60f03078ef1de41a274a7a90d4bcbf0a564785623592652e1a8a5032cdc0c3828

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
