$navbar-default-bg: transparent;

@import "bootstrap-sprockets";
@import "bootstrap";

html, body { height: 115%; }

body {
  background-image: image-url("Back@2x.png");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-position: center top;
  background-size: cover;
  width: 100%;
  height: auto;
  overflow-x: hidden;
}
.navbar-default .navbar-brand {
  color: #3397D3;
  display: block;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
  display: block;
}

.navbar {
    background-color: transparent;
    width: auto !important;
    position: absolute;
    top: 0;
    //margin-top: 20px;
    align: right;
    margin-bottom: 0;
    display: block;
    
}
.nav navbar-nav navbar-right > li {
    color: white !important;
    //padding-top: 10px;
    display: block;
    }


    .collapse .navbar-collapse {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #cccccc;
  border-radius: 1px;
}

.stitched {
   padding: 20px;
   margin-bottom: 200px;
   height: 175px;
   width: 98%;
   position: relative;
   bottom: 35%;
   left: 1%;
   background: transparent;
   color: #9D9D9F;
   font-size: 21px;
   font-weight: bold;
   line-height: 1.3em;
   border: 3px dashed #fff;
   border-radius: 0px; //round edges
   text-shadow: -1px -1px #aa3030;
   font-weight: normal;
}
  @media (max-width:1000px) { 
    .stitched {
    position: relative; 
    height: 70px;
    width: 98%;
    bottom: 40%;
    left: 1%;
    }
  }

.logo {
  float: center;
  position: relative;
  top:0px;
  left:0px;
  width: 100%;
  height: auto;
  z-index: 1;
  }

  .seater {
    float: left;
    margin: auto;
    margin-top: -350px;
    position: relative;
    //top: 10%;
    bottom: 50%;
    left: 5%;
    width: 10%;
    height: auto;
    

  }

.phone {
  float: right;
  position: relative;
  top: 60%;
  margin-top: 35px;
  width: 12%;
  height: auto;
  right: 10%;
}

.appicon {
  display: inline-block;
  width: 5%;
  height: auto;
  float: left;
  margin: auto;
  margin-top: 35px;
  position: relative;
  top: 60%;
  //margin-top: 1.5%;
  left: 5%;
  //left: 20%;
  //margin-bottom: 20px;
  //left: 0px;
  
}
.text-img {
  display: inline-block;
  float: left;

}
h4 {

    //margin: auto;
    margin-top: 15px;
    bottom: 280%;
    left: 15%;
    text-align: left;
  position: relative;
  margin: auto;
  //margin-top: -250px;
  //top: 23%;
  //left: 15%;
  //vertical-align: top;
  //display: inline-block;
  color: white;
  font-size: 20px;
  opacity: 0.8;
}
  @media (max-width:980px) { 
    h4 {
    bottom: 590%;
    text-align: left;
  position: relative;
    }

    .seater {
    position: relative;
    top: 200%;
    }
  }

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 0.5px;
}

.text-center {

  text-align: center;
  align: center;
  width: 100%;
 height: 100%;
 color: #2874A6;
}

.left {
  text-align: left;
  color: black;
}
p{
    text-align: left;
  padding-left: 30px;
  color: black;
}

.jumbotron {

    //background-image: image-url("all.png");
    background: linear-gradient(to right, #0071F3, #0064D6 , #024594); 
    background-size: contain;
    //background-repeat: no-repeat;
    //background-position: center center;
    width: 100%;
    height: 200px;
}

  @media (max-width:980px) { 
    .jumbotron {
    height: 100px;
    }
  }

.container {
    position: relative;
}

.style-text {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color:  #0183EF;
    display: inline-block;
    //margin: auto;
    margin-top: 15px;
    position: relative;
    top: 70%;
    left: 10%;
    text-align: left;
    //vertical-align: middle;
    //letter-spacing: -1px;
    a {
  color: black;
  font-size: 20px;
  text-decoration: none;
  } 
}

.fb {
    width: 10%;
    height: auto;
    display: inline-block;
    //margin: auto;
    margin-top: 15px;
    position: relative;
    top: 70%;
    left: 15%;
    text-align: left;
}

.ps {
    width: 12%;
    height: auto;
    display: inline-block;
    //margin: auto;
    margin-top: 15px;
    position: relative;
    top: 70%;
    left: 15%;
    text-align: left;
}

.icon
{
  display:inline;
}

.style_image{
  width: 10px;
  height: 50px;
  transition: .5s ease;
}
.style_image:hover img {
  opacity: 0.7;
}
.nav-bar {
  
  background-color: white;
}

// Styling for the footer
footer {
   position: absolute;
   left: 0;
   bottom: 0;
   right: 0;
   top: 109%;
   width: 100%;
   background-color: transparent;
   color: white;
   text-align: center;

    
    background-color: transparent;
    p {
        font-size: 12px;
        margin: 0;
        color: black;
        text-align: center;
    }
    a:hover, a:focus {
    color: #0183EF;
    }

    ul {
        margin-bottom: 0;
        li {
            a {
                font-size: 12px;
                color: black;
                -webkit-transition: all .35s;
                -moz-transition: all .35s;
                transition: all .35s;

            }
        }
    }
}