$navbar-default-bg: transparent;

@import "bootstrap-sprockets";
@import "bootstrap";


body {
  background-image: image-url("background.png");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-position: center top;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.navbar-default .navbar-brand {
  color: #3397D3;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
  
}

.navbar {
    background-color: transparent;
    width: auto !important;
    position: absolute;
    top: 0;
    margin-top: 20px;
    float: right;
}
.nav navbar-nav navbar-right > li {
    color: white;
    //padding-top: 10px;
    }

.stitched {
   padding: 20px;
   margin-bottom: 200px;
   height: 150px;
   background: transparent;
   color: #9D9D9F;
   font-size: 21px;
   font-weight: bold;
   line-height: 1.3em;
   border: 3px dashed #fff;
   border-radius: 0px; //round edges
   text-shadow: -1px -1px #aa3030;
   font-weight: normal;
}

.logo {
  float: center;
  position: relative;
  top:0px;
  left:0px;
  width: 100%;
  height: auto;
  z-index: -1;
  }

.phone {
  float: right;
  position: relative;
  width: 12%;
  height: 12%;
  top: 0%;
  right: 10%;
}

.appicon {
  //position: absolute;
  display: inline-block;
  width: 5%;
  height: 10%;
  float: left;
  margin-top: 1.5%;
  margin-left: 5em;
  //left: 20%;
  //margin-bottom: 20px;
  left: 0px;
  
}
.text-img {
  display: inline-block;
  float: left;

}
h4 {
  position: relative;
  //top: 22%;
  //left: 20%;
  vertical-align: top;
  color: white;
  font-size: 20px;
  opacity: 0.8;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 0.5px;
}

.center {

  text-align: center;
  align: center;
  width: 100%;
 height: 100%;
 color: #2874A6;
}

.left {
  text-align: left;
  color: black;
}
p{
    text-align: left;
  padding-left: 30px;
  color: black;
}

.jumbotron {
    background: linear-gradient(to right, #0071F3, #0064D6 , #024594); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 220px;
}

.container {
    position: relative;
}

.style-text {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color:  #0183EF;
    position: absolute;
    text-align: left;
    vertical-align: middle;
    margin-left: 12em;
    //letter-spacing: -1px;
    a {
  color: black;
  font-size: 20px;
  text-decoration: none;
  } 
}


.style_image img {
  width: 50px;
  height: 50px;
  transition: .5s ease;
}
.style_image:hover img {
  opacity: 0.7;
}
.nav-bar {
  
  background-color: white;
}

// Styling for the footer
footer {
    //padding: 10px;
    position: absolute;
    left: 30%;
     min-height:0%;
    margin-bottom: 10px;
    align: center;
    text-align: center;
    display: table;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;

    
    background-color: transparent;
    p {
        font-size: 12px;
        margin: 0;
        color: black;
    }
    a:hover, a:focus {
    color: #0183EF;
    }

    ul {
        margin-bottom: 0;
        li {
            a {
                font-size: 12px;
                color: black;
                -webkit-transition: all .35s;
                -moz-transition: all .35s;
                transition: all .35s;

            }
        }
    }
}