
  </hr>
        <footer class="text-center">
          <div class="container">
          <p style="font-size:1vw;">
            &copy; Seater 2018. All Rights Reserved.
          </p>
          <ul class="list-inline">
            <li class="list-inline-item">
              <li><%= link_to 'Terms and conditions', '#', class: "list-inline-item", style: "font-size:1vw;" %></li>
            </li>
            <li class="list-inline-item">
              <li><%= link_to 'Privacy Policy', '#', class: "list-inline-item", style: "font-size:1vw;" %></li>
            </li>
          </ul>
      </div>
    </footer>

