
  </hr>
        <footer class="text-center">
          <div class="container">
          <p>
            &copy; Seater 2018. All Rights Reserved.
          </p>
          <ul class="list-inline">
        
            <li class="list-inline-item">
              <li><%= link_to 'Privacy Policy', privacy_path, class: "list-inline-item" %></li>
            </li>
          </ul>
      </div>
    </footer>

