
  </hr>
        <div class="center">
        <p>&copy; Seater 2018. All Rights Reserved. | Developed by Maram Badr. </p>
        <ul class="list-inline">
          <li class="list-inline-item">
            <li><%= link_to 'Terms and conditions', '#', class: "list-inline-item" %></li>
          </li>
          <li class="list-inline-item">
            <li><%= link_to 'Privacy', '#', class: "list-inline-item" %></li>
          </li>
        </ul>
      </div>

