<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
	   <ul class="nav navbar-nav navbar-right">
		    <li><%= link_to "How to", root_path(:anchor => "how-to"), class: "navbar-brand", style: "font-size:1.5vw;" %></li>
		    <li><%= link_to "Download", root_path(:anchor => "download"), class: "navbar-brand", style: "font-size:1.5vw;" %></li>
		    <li><%= link_to "About", root_path(:anchor => "about"), class: "navbar-brand", style: "font-size:1.5vw;" %></li>
		    <li><%= link_to "Contact Us", root_path(:anchor => "contact-us"), class: "navbar-brand", style: "font-size:1.5vw;" %></li>
	  	</ul>

	</div>

</nav>