
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
    	<div class="navbar-toggler-right" >
	   <ul class="nav navbar-nav navbar-right">
		    <li><%= link_to "How to", class: "navbar-brand" %></li>
		    <li><%= link_to "Download", class: "navbar-brand" %></li>
		    <li><%= link_to "About", class: "navbar-brand" %></li>
		    <li><%= link_to "Contact Us", class: "navbar-brand"%></li>
		    
	  	</ul>
	  </div>

	</div>
</div>

</nav>